:root {
  /* CSS HEX */
  --shamrock-green: #3a9a73ff;
  --pearl: #e6e1c5ff;
  --outer-space: #394648ff;
}

.bgdk {
  background-color: var(--outer-space);
  color: white;
}
.bglh {
  background-color: white;
  color: var(--outer-space);
}

.bgac {
  background-color: var(--pearl);
  color: var(--outer-space);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Sans-serif';
}

.hidden {
  display: none;
}

.round {
  border-radius: 10px;
}

.flrw {
  display: flex;
  flex-direction: row;
}

.flcl {
  display: flex;
  flex-direction: column;
}

.flal-c-c {
  align-items: center;
  justify-content: center;
}

.flal-c-s {
  align-items: center;
  justify-content: start;
}
.flal-b-s {
  align-items: baseline;
  justify-content: start;
}

.nodec {
  text-decoration: none;
}

.nodec:visited {
  color: unset;
}
.nodec:active {
  color: unset;
}

.nodec:hover {
  color: unset;
}

.margin {
  margin: 0.25em;
}

.padding {
  padding: 0.25em;
}

.paddingv {
  padding: 0.5em;
  padding-left: 0em;
  padding-right: 0em;
}
.marginv {
  margin: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
}

.text-p-width {
  width: calc(100vw - 2 * 10rem);
}

.button {
  border-radius: 10px;
  border: 0px;
  background-color: var(--shamrock-green);
  color: white;
}

.button:active {
  background-color: color-mix(in srgb, var(--shamrock-green), black 10%);
}

.text-l {
  font-size: 3rem;
  font-weight: 800;
}
